<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>New Foto</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
</head>
<body>
    <div th:each=foto:${allFotos} th:object="${foto}">
        <p th:text="${foto.title}"></p>
        <img th:src="@{'/image/' + ${foto.imageName}}">
    </div>
    <form th:action="@{/fotos}" th:method="post" th:object="${foto}" enctype="multipart/form-data">
        <div class="form-group">
            <div class="form-group" th:classappend="${#fields.hasErrors('title')}? has-error">
                <label class="control-label">タイトル</label>
                <input class="form-control" type="text" th:field="*{title}" />    
            </div>
        </div>
        <input type="file" name="imageFile" accept="image/jpeg, image/png, image/gif">
        <button class="btn btn-default" type="submit">作成</button>
    </form>
</body>
</html>