<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>All Users</title>

    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <h1>All Users</h1>
    <table class="table" border="bold">
        <thead>
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>年齢</th>
            <th>メールアドレス</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user:${users}" th:object="${user}">

            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{age}"></td>
            <td th:text="*{email}"></td>

            <td><a class="btn btn-default btn-xs" th:href="@{/users/{id}(id=*{id})}">参照</a></td>
            <td><a class="btn btn-default btn-xs" th:href="@{/users/{id}/edit(id=*{id})}">編集</a></td>
            <td>

                <form th:action="@{/users/{id}(id=*{id})}" th:method="delete">
                    <input class="btn btn-default btn-xs" type="submit" value="削除" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-default" th:href="@{/users/new}">新規作成</a>
</div>
</body>
</html>